/* This contains the scss for the header component */

//Libraries -->
@use "@/styles/base.module" as *;

//Commencing the code -->
.header {
    @include flexBar($gap: 5%, $justify: space-between, $align: center);
    @include size(90%, 8%);
    left: 0%;
    top: 0%;
    position: fixed;
    //filter: drop-shadow(0px 1px 36px rgba(0, 0, 0, 0.08));
    z-index: 10;
    //mix-blend-mode: overlay;
    background-color: $tertiary-color;
    //background-image: linear-gradient(to bottom, rgba(182, 226, 253, 0.3), rgba(182, 226, 253, 0.45));
    border-bottom: 2px solid rgba(9, 30, 66, 0.13);
    //border: 2px solid red;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5%;
    padding-right: 5%;

    @include tabletPro {
        //border: 2px solid yellow;
        @include size($height: 6%, $width: 90%);
        
        //background-color: transparent;
        //top: 10%;
        //z-index: 20;
    }

    @include phonePro {
        //align-items: center;
        //border: 2px solid blue;
        //width: 90%;
    }

    button {
        outline: none;
        background-color: transparent;
        border: none;
    }

    .logo_text {
        @include flexBar($position: relative, $justify: flex-start, $align: center, $gap: 5%);
        @include size($height: 100%, $width: 15%);
        //border: 1px solid blue;
        //left: 5%;

        @include tabletPro {
            width: 30%;
        }

        @include phonePro {
            width: 45%;
        }

        @include phoneMini {
            width: 50%;
        }

        .logo {
            @include flexBar($position: relative, $justify: center, $align: center);
            @include size($height: 100%, $width: 20%);
            //border: 1px solid purple;
            //left: 5%;
            top: 0%;
            transition: transform 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);

            @include phonePro {
                width: 30%;
                //left: 2%;
            }

            .img {
                //border: 1px solid black;
                object-fit: contain;
                position: relative;
                @include size(auto, 70%);
                //top: 15%;

                @include tabletPro {
                    height: 50%;
                }

                @include phonePro {
                    height: 60%;
                }
            }

            &:hover {
            transform: scale(1.01);
            }
        }

        .text {
            @include flexBar($position: relative, $justify: center, $align: center);
            //border: 1px solid red;
            @include text-layout($size: 27px, $color: $primary-color, $l_height: 62px);
            font-family: "Roboto";
            font-weight: 600;
            @include size($height: 100%, $width: auto);

            @include phonePro {
                font-size: 25px;
            }
        }
    }

    .navBar {
        @include flexBar($position: relative, $justify: center, $align: center, $gap: 5%);
        @include size($height: 100%, $width: 30%);
        //border: 1px solid blue;

        @include tabletPro {
            justify-content: center;
            width: 40%;
        }

        @include phonePro {
            display: none;
        }

        span {
            @include text-layout($size: 15px, $color: $primary-color, $l_height: 22px);
            font-family: "Poppins";

            &:hover {
                border-bottom: 2px solid #923a06;
            }
        }
    }

    .contactBtn {
        @include flexBar($position: relative, $justify: center, $align: center, $gap: 2%);
        @include size($height: 80%, $width: auto);
        padding-left: 2%;
        padding-right: 2%;
        border: 1px solid linear-gradient(90deg, #923a06, #fa6b18);
        border-radius: 4px;
        background: linear-gradient(90deg, #923a06, #fa6b18);
        cursor: pointer;
        transition: background 0.3s ease, transform 0.2s ease;

        @include tabletPro {
            height: 60%;
        }

        @include phonePro {
            display: none;
        }

        span {
            @include text-layout($size: 15px, $color: $tertiary-color, $l_height: 22px);
            font-family: "Poppins";
        }

        &:hover {
            background: linear-gradient(90deg, #fa6b18, #923a06);
            border: 1px solid linear-gradient(90deg, #fa6b18, #923a06);
            transform: scale(1.01);
            //transform: translateY(-2px);
        }
    }

    .menuBtn {
        display: none;

        @include phonePro {
            @include flexBar($position: relative, $justify: center, $align: center, $gap: 2%);
            //@include size($height: 80%, $width: auto);
            cursor: pointer;
            //border: 1px solid red;
        }

        .icon {
            color: $primary-color;
            font-size: 1.5rem;
        }
    }
}

.scrolled, .cartPage, .orderPage, .productPage, .productInfoPage, .orderReceiptPage, .wishListPage, .others {
    background-color: $tertiary-color;

    .menu_button {
        @include phonePro {
            color: $text-color-1;
        }
    }

    .links {
        button {
            color: $text-color-1;
        }
    }

    #search_cart {

        #search {
            button {
                color: $text-color-1;
            }

            .search_form {
                border: 1px solid $primary-color;
                border-radius: 5px;

                input {
                    background-color: $tertiary-color;
                }
            }
        }

        #wishList {

            button {
                color: $text-color-1;
            }
        }

        #cart {

            button {
                color: $text-color-1;
            }
        }

        #account {

            button {
                color: $text-color-1;
            }
        }
    }
}

%searchContainer {
    transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    @include flexBar($justify: flex-start, $align: center, $flex_d: column, $gap: 0%);
    //border: 1px solid red;
    background-color: $tertiary-color;
    padding: 1%;
    top: 0%;
    left: 0%;
    z-index: 100;
    font-family: "Inter";
    @include size(100%, 100%);

    @include desktop {
        display: none;
    }

    @include tabletPro {
        display: none;
    }

    @include phonePro {
        //border: 1px solid red;
        width: 98%;
    }

    .search_form {
        z-index: 1;
        background-color: $tertiary-color;
        //border: 2px solid red;
        @include flexBar($justify: center, $align: center, $gap: 7%);
        @include size(100%, 50px);
        border-bottom: 2px solid #DFE1E6;
        border-top: 2px solid #DFE1E6;
        //padding: 1% 3%;

        button {
            background-color: transparent;
            border-color: transparent;
            outline: none;
            //border: 1px solid red;
        }

        .arrow_left {
            left: 3%;
            position: relative;
        }

        @include phoneMini {
            //width: 80%;
            gap: 3%;
        }

        input {
            position: relative;
            border: 1px solid $primary-color;
            height: 50%;
            width: 100%;
            outline: none;
            border-radius: 5px;

            @include phoneMini {
                //width: 70%;
            } 
        }

        .search_icon {
            border-left: 2px solid rgba(0, 0, 0, 0.09);
            padding: 1% 0% 1% 3%;
            left: -5%;
            position: relative;
            display: flex;
            flex-direction: center;
            align-items: center;

            .icon {
                left: 0%;
                position: relative;
            }
        }
    }
    
}

.activeSearch {
    transform: translateX(0%);
    @extend %searchContainer;
    //border: 1px solid red;
    position: fixed;
    //overflow: hidden;
}

.inActiveSearch {
    @extend %searchContainer;
    transform: translateX(100%);
    display: none;
}

%menuBar {
    //border: 2px solid red;
    border-right: 1px solid rgba(0, 0, 0, 0.09);
    transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5% 4%;
    background-color: $tertiary-color;
    z-index: 90;
    height: 100%;
    width: 70%;
    left: 0%;
    top: 0%;
    font-family: "Inter";

    @include desktop {
        display: none;
    }

    @include tabletPro {
        display: none;
    }

    .menu_heading {
        //border: 2px solid red;
        padding: 2% 1% 5% 0%;
        @include size(100%, 7%);
        border-bottom: 1px solid $primary-color;
        @include flexBar($position: relative, $justify: flex-start, $align: center, $gap: 20%);

        .close_button {
            //border: 1px solid green;
            position: relative;
            //top: -12%;
            color: $primary-color;
            background-color: transparent;
            border-color: transparent;
            outline: none;
        }

        .logo { 
           //border: 1px solid red;
           @include flexBar($position: relative, $justify: center, $align: center);
            @include size(20%, 90%);
            //top: 12%;
            //left: 5%;

            .img {
                //border: 1px solid red;
                object-fit: contain;
                position: relative;
                @include size(auto, 60%);
                //top: 15%;
    
                // @include tabletPro {
                //     height: 50%;
                // }
    
                // @include phonePro {
                //     height: 60%;
                // }
            }
        }
    }

    .links {
        //border: 1px solid red;
        @include text-layout($size: 15px, $color: $text-color-1, $l_height: 20px);
        text-align: center;
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: row;
        border-color: transparent;
        justify-content: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.09);
        @include size (100%, 6%);
        padding: 4% 5% 4% 0%;
        background-color: transparent;
        outline: none;
        //border-top: transparent;

        @include phoneMini {
            font-size: 12px;
        }
    }
}

.activeMenu {
    @extend %menuBar;
    transform: translateX(0%);
    position: fixed;
}

.inActiveMenu {
    transform: translateX(-100%);
    @extend %menuBar;
}

.contactModal {
    //border: 1px solid red;
    @include size ($width: 100%, $height: 410%, $max-width: 100%, $max-height: 500%);
    @include flexBar ($align: flex-start, $justify: center, $gap: 1%, $flex_d: row, $flex: none, $bg-color: rgba(0, 0, 0, 0.4));
    z-index: 100;
    top: 0%;
    left: 0%;
    font-family: "Inter";

    @include tabletPro {
        height: 235%;
    }

    @include phonePro {
        height: 265%;
    }

    .container {
        //border: 1px solid red;
        @include flexBar ($position: sticky, $wrap: none, $align: center, $justify: flex-start, $gap: 0%, $flex_d: row, $flex: none, $bg-color: $tertiary-color);
        @include size(60%, 18%);
        top: 15%;
        z-index: 200;
        //box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.14), 0px 3px 3px rgba(0, 0, 0, 0.12), 0px 1px 8px rgba(0, 0, 0, 0.2);

        @include tabletPro {
            @include size(75%, 550px);
        }

        @include phonePro {
            top: 10%;
            @include size(90%, 500px);
        }

        .image {
            //border: 1px solid red;
            @include flexBar ($position: relative, $wrap: none, $align: center, $justify: center, $gap: 1%, $flex_d: row, $flex: none, $bg-color: none);
            @include size(30%, 100%);

            @include phonePro {
                display: none;
            }

            .img {
                position: relative;
                object-fit: cover;
                //border: 1px solid red;
                @include size(100%, 100%);
            }
        }

        .form {
            //border: 1px solid red;
            @include flexBar ($position: relative, $wrap: none, $align: center, $justify: center, $gap: 1%, $flex_d: column, $flex: none);
            @include size(70%, 100%);

            @include phonePro {
                width: 100%;
                //top: 0%;
            }

            header {
                //border: 1px solid red;
                @include flexBar ($position: relative, $wrap: none, $align: center, $justify: flex-end, $gap: 1%, $flex_d: row, $flex: none, $bg-color: none);
                @include size(90%, 7%);

                @include tabletPro {
                    top: -2%;
                }

                @include phonePro {
                    top: -3%;
                }

                button {
                    transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
                    background-color: transparent;
                    border-color: transparent;
            
                    &:hover {
                        border-radius: 5px;
                        transform: scale(1.01);
                        box-shadow: 0px 2px 4px rgba(52, 69, 99, 0.18);
                    }
                }
            }

            .brief {
                //border: 1px solid red;
                @include flexBar ($position: relative, $wrap: none, $align: flex-start, $justify: flex-start, $gap: 1%, $flex_d: column, $flex: none, $bg-color: none);
                @include size(90%, 10%);
                @include text-layout($size: 16px, $color: $text-color-1, $l_height: 24px);

                #brief_2 {
                    color: $text-color-3;
                    font-size: 12.5px;
                }
            }

            form {
                //border: 1px solid red;
                @include size(90%, 70%);
                @include flexBar ($position: relative, $wrap: none, $align: center, $justify: center, $gap: 5%, $flex_d: column, $flex: none, $bg-color: none);
                
                :focus {
                    outline-color: rgb(108, 140, 199);
                }

                .div_1,
                .div_2,
                .div_3 {
                    border: 1px solid $text-color-3; 
                    border-radius: 4px;
                    @include size(100%, 14%);  
                    @include flexBar ($position: relative, $wrap: none, $align: center, $justify: center, $gap: 1%, $flex_d: row, $flex: none, $bg-color: none); 
                    
                    @include phonePro {
                        width: 95%;
                        //border: 1px solid green;
                    }

                    input, 
                    textarea {
                        border: 1px solid $text-color-3;
                        @include flexBar ($position: relative, $wrap: none, $align: center, $justify: center, $gap: 1%, $flex_d: row, $flex: none, $bg-color: none);
                        @include size(100%, 100%); 
                        padding: 1% 3%;
                        
                    }

                    ::placeholder {
                        position: relative;
                        font-size: 16px;
                        overflow-x: hidden;
                        overflow-y: hidden;
                        //left: 5%;
                      }
                }

                .div_1 {
                    justify-content: space-between;
                    border: 1px solid transparent;

                    .div_11,
                    .div_12 {
                        border: 1px solid $text-color-3;
                        border-radius: 4px;
                        @include size(48%, 100%);  
                        @include flexBar ($position: relative, $wrap: none, $align: center, $justify: center, $gap: 1%, $flex_d: row, $flex: none, $bg-color: none);

                        input {
                            //border: 1px solid yellow;
                            @include flexBar ($position: relative, $wrap: none, $align: center, $justify: center, $gap: 1%, $flex_d: row, $flex: none, $bg-color: none);
                            @include size(100%, 100%);
                            padding: 1% 6%; 
                        }
                    }
                }

                .div_3 {
                    height: 43%;

                    ::placeholder {
                        left: 0%;
                    }
                }

                button {
                    border: 1px solid $primary-color; 
                    @include size(100%, 14%);
                    border-radius: 5px;
                    background-color: $primary-color;
                    @include text-layout($size: 16px, $color: $tertiary-color, $l_height: 24px);
                    transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
                    display: flex;
                    flex-direction: row;
                    position: relative;
                    align-items: center;
                    justify-content: center;
            
                    &:hover {
                        border-radius: 5px;
                        transform: scale(1.01);
                        box-shadow: 0px 2px 4px rgba(52, 69, 99, 0.18);
                    }
                }
            }
        }
    }
}

.inActiveContactModal {
    display: none;
}

%header-layout {
    background-color: $tertiary-color;

    input {
        background: #F0F1F2;
    }
}

.productInfoPage {
    @extend %header-layout;
}

.cartPage {
    @extend %header-layout;
}

.termsPage {
    //@extend %header-layout;
}

.orderPage {
    @extend %header-layout;
}

.productPage {
    @extend %header-layout;
}

.cartReceiptPage {
    @extend %header-layout;
}

// .aboutPage {
//     @extend %footer-layout;
// }

.others {
    @extend %header-layout;
    //border: 2px solid red;
}

.adminPage, .adminLoginPage {
    display: none;
}

// .modalState {
//     pointer-events: none;
//     filter: opacity($modal-opacity);
// }

// .aboutPage {
//     background-image: url("../../../public/images/hero_back.png");
// }

// .others {
//     background: $tertiary-color;

//     input {
//         background: #F0F1F2;
//     }
// }

