/* This contains the scss for the hire me component */

//Libraries -->
@use "@/styles/base.module" as *;

//Commencing the code -->
.main {
    //border: 1px solid red;
    @include size(100%, 50%);
    top: 440%;
    font-family: "Inter";
    @include flexBar($align: flex-end, $justify: center, $gap: 3%);
    left: 0%;

    @include tabletPro {
        top: 235%;
        height: 30%;
    }

    @include tablet {
        top: 250%;
        height: 30%;
    }

    @include tabletMini {
        top: 260%;
        height: 32%;
    }

    @include phonePro {
        top: 370%;
        height: 40%;
        //padding: 2% 0%;
    }

    @include phone {
        top: 415%;
        height: 50%;
    }

    @include phoneMini {
        //top: 460%;
        height: 55%;
    }

    .container {
        //border: 1px solid red;
        @include flexBar($position: relative, $align: center, $justify: center, $flex_d: column, $gap: 0%);
        @include size(100%, 100%);
        background-color: $primary-color;

        @include phonePro {
            padding: 2% 0%;
            height: 95%;
        }

        .span1 {
            //border: 1px solid red;
            @include text-layout($size: 14px, $l_height: 25px, $color: $tertiary-color);
            font-weight: 600;
            font-family: "Poppins";
            @include flexBar($position: relative, $align: center, $justify: center, $gap: 0%);
            //@include size(100%, 5%);

            @include phonePro {
                font-size: 12px;
                height: 5%;
            }
        }

        .span2 {
            //border: 1px solid red;
            font-weight: 600;
            @include flexBar($position: relative, $justify: flex-start, $flex_d: row, $wrap: none, $align: center);
            font-family: "Aclonica";
            @include text-layout($size: 30px, $l_height: 45px, $color: $text-color-2);

            @include tablet {
                margin-top: 0px;
                font-size: 30px;
            }

            @include phonePro {
                font-size: 25px;
                margin-top: 5px;
                height: 10%;
            }

            @include phoneMini {
                font-size: 20px;
                margin-top: 5px;
                height: 8%;
            }
        }

        .span3 {
            //border: 1px solid red;
            @include flexBar($position: relative, $align: center, $justify: center, $flex_d: column, $gap: 10%);
            @include size(70%, 40%);
            @include text-layout($size: 15px, $l_height: 22px, $color: $text-color-2);
            //@include text-layout($size: 15px, $color: $text-color-1, $l_height: 22px);
            font-family: "Poppins";

            @include phonePro {
                @include size(90%, 55%);
                text-align: center;
                font-size: 12px;
                line-height: 20px;
            }

            @include phoneMini {
               font-size: 10px;
               line-height: 20px;
            }
        }

        button {
            background-color: $tertiary-color;
            border: none;
            border-radius: 100px;
            @include flexBar($position: relative, $align: center, $justify: center, $gap: 0%);
            @include size(15%, 15%);
            @include text-layout($size: 15px, $l_height: 22px, $color: $primary-color);
            font-family: "Poppins";
            font-weight: 600;
            top: 2%;
            box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.2), 0px 6px 12px rgba(0, 0, 0, 0.2);
            transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);

            @include tabletPro {
                width: 20%;
            }

            @include phonePro {
                @include size(40%, 13%);
                margin: 10px;
            }

            @include phoneMini {
                @include size(50%, 10%);
                font-size: 12px;
            }

            &:hover {
                transform: scale(1.01);
            }
        }
    }
}