/** This contains the scss for the client slide component */

///Libraries -->
@use "@/styles/base.module" as *;

///Commencing the code
.main {
    @include flexBar($position: absolute, $justify: center, $flex_d: column, $wrap: none, $align: center, $flex: none);
    @include position($left: 0%, $top: 385%);
    @include size(100%, 55%);
    //border: 2px solid purple;
    font-family: "Roboto";
    //left: 2.5%;
    //border-top: 1px solid $text-color-3;
    //border-bottom: 1px solid $text-color-3;
    background-color: $primary-color-2;
    //padding: 1% 4%;
    //top: 40%;

    @include tabletPro {
        //border: 2px solid $error-color;
        @include position($left: 0%, $top: 200%);
        height: 35%;
    } 

    @include tablet {
        height: 40%;
        top: 210%;
        //border: 1px solid red;
    }

    @include tabletMini {
        height: 45%;
        top: 215%;
    }

    @include tabletMini {
       //top: 106%;
        //height: 32%;
    }

    @include phonePro {
        //border: 2px solid $error-color;
        @include position($left: 0%, $top: 320%);
        height: 50%;
        //top: 220%;
        //justify-content: space-between;
    } 

    @include phone {
        top: 355%;
        height: 60%;
    }

    button {
        outline: none;
    }

    .container {
        //border: 1px solid red;
        @include flexBar($position: relative, $justify: space-between, $gap: 0px, $flex_d: column, $align: center);
        @include size(100%, 75%);

        @include phonePro {
            top: -2%;
        }

        .heading {
            @include flexBar($position: relative, $justify: space-between, $gap: 10px, $flex_d: column, $wrap: none, $align: center, $flex: none);
            @include text-layout($size: 20px, $l_height: 24px);
            //top: -2%;
            //border: 2px solid red;
            width: 88%;
            height: 15%;
            //padding: 0% 1%;

            @include tabletPro {
                gap: 7px;
            }

            @include phonePro {
                gap: 7px;
                height: 20%;
            }
    
           @include phoneMini {
                //height: 20%;
           }
    
           .upper {
                //border: 1px solid black;
                @include size(100%, 50%);
                @include flexBar($position: relative, $justify: flex-start, $align: center, $gap: 10px);
    
                .bar {
                    border: 1px solid $primary-color;
                    position: relative;
                    @include size(5px, 100%);
                    border-radius: 4px;
                    background-color: $primary-color;
                }
    
                .barTitle {
                    //border: 1px solid $primary-color;
                    position: relative;
                    @include text-layout($size: 14px, $l_height: 20px, $color: $primary-color);
                    font-weight: 600;
                    font-family: "Poppins";

                    @include phoneMini {
                        font-size: 10px;
                    }
                }
           }
    
           .lower {
                //border: 1px solid red;
                @include size(100%, 50%);
                @include flexBar($position: relative, $justify: space-between, $align: center);
    
                .subheading {
                    //border: 2px solid $primary-color;
                    font-weight: 600;
                    @include flexBar($position: relative, $justify: flex-start, $flex_d: row, $wrap: none, $align: center);
                    font-family: "Aclonica";
                    @include text-layout($size: 18px, $l_height: 24px, $color: $text-color-2);
    
                    @include phonePro {
                        font-size: 16px;
                        font-weight: 600;
                        width: 70%;
                        line-height: 20px;
                        top: 7px;
                    }
    
                    @include phoneMini {
                        font-size: 13px;
                        //@include size(70%, 100%);
                    }
                }
    
                .controller {
                    //border: 1px solid red;
                    @include flexBar($position: relative, $align: center, $flex_d: row, $justify: space-between, $gap: 5%);
                    @include size(auto, 90%);
                    //top: 50%;
                    color: $primary-color;
            
                    @include phonePro {
                        gap: 15px;
                        //justify-content: space-between;
                    }
            
                    .prev, .next {
                        color: white;
                        border: none;
                        //border: 1px solid $primary-color;
                        @include size(30px, 30px);
                        @include flexBar($position: relative, $align: center, $flex_d: row, $justify: center, $gap: 3%);
                        z-index: 5;
                        border-radius: 50%;
                        //top: -10%;
            
                        @include phoneMini {
                            @include size(20px, 20px);
                            //display: none;
                        }

                        .icon {
                            font-size: 1.2rem;
                            color: $secondary-color-2;

                            @include phoneMini {
                                font-size: 0.8rem;
                            }
                        }

                        &:hover {
                            
                            .icon {
                                color: $primary-color;
                            }
                        }
                    }
            
                    .pagination {
                        color: $text-color-3;
                        position: relative;
                        top: 22%;
                        align-items: center;
                        //@include flexBar($position: relative, $align: center, $flex_d: row, $justify: center, $gap: 3%);
                        //border: 1px solid red;
                        //display: none;
                        @include size(30%, 100%);
            
                        @include tablet {
                            width: 40%;
                        }
            
                        @include phonePro {
                            gap: 0%;
                            flex-direction: row;
                            justify-content: center;
                            width: 100%;
                            top: 15%;
                        }
            
                        @include phone {
                            //width: 80%;
                        }
            
                        @include phoneMini {
                            top: -5%;
                            line-height: 12px;
                        }
                    }
                }
    
                // button {
                //     border: none;
                //     @include size(10%, 80%);
                //     border-radius: 7px;
                //     transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
                //     @include flexBar($position: relative, $justify: center, $flex_d: row, $align: center);
                //     background-color: transparent;
    
                //     @include phoneMini {
                //         font-size: 12px;
                //         @include size(40%, 100%);
                //         justify-content: flex-end;
                //     }
    
                //     span {
                //         //border: 1px solid red;
                //         @include text-layout($size: 13px, $l_height: 24px);
                //         position: relative;
                //         width: auto;
                //     }
    
                //     .icon {
                //         color: $primary-color;
                //         position: relative;
                //         font-size: 1.2rem;
                //     }
    
                //     &:hover {
                //         //transform: scale(1.05);
                //         span {
                //             border-bottom: 1px solid $primary-color;
                //         }
                //     }
                // }
           }
        }
        
        .swipeContainer {
            //border: 1px solid blue;
            @include flexBar($position: relative, $align: center, $flex_d: row, $justify: center, $gap: 0%);
            @include size(94%, 80%);
            padding: 0.5%;
    
            @include tabletPro {
                height: 70%;
            }
    
            @include phonePro {
                width: 95%;
                top: 2%;
            }  

            @include phone {
                top: 5%;
                //height: 65%;
            }
    
            .slider {
                //border: 1px solid $text-color-3;
                @include flexBar($position: relative, $align: center, $flex_d: column, $justify: center, $gap: 2%);
                @include size(35%, 98%);
                background-color: transparent;
                border-radius: 5px;
                //box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
                //padding: 1%;
                top: 1%;
                //font-family: "Poppins";
    
                @include tabletPro {
                    width: 40%;
                    //gap: 5%;
                    //color: dar;
                }
    
                @include tablet {
                   width: 50%;
                }
    
                @include phonePro {
                    width: 95%;
                }

                @include phone {
                    width: 95%;
                }

                .testimony {
                    //border: 1px solid red;
                    @include flexBar($position: relative, $align: center, $justify: flex-start, $gap: 0%);
                    @include size(90%, 60%);
                    @include text-layout($size: 12px, $color: $text-color-1, $l_height: 18px);
                    font-family: "Poppins";

                    @include phonePro {
                        height: 65%;
                        width: 95%;
                    }

                    @include phoneMini {
                        height: 55%;
                    }

                    .openQuote {
                        position: relative;
                        //border: 1px solid red;
                        transform: scaleX(-1);
                        color: $primary-color;
                        top: -40%;
                        //display: none;
                    }

                    .closeQuote {
                        position: relative;
                        //border: 1px solid red;
                        color: $primary-color;
                        top: 40%
                        //display: none;
                    }
                }

                .bio {
                    //border: 1px solid red;
                    @include flexBar($position: relative, $align: center, $justify: flex-start, $gap: 2%);
                    @include size(90%, 30%);

                    @include phoneMini {
                        height: 55%;
                    }

                    .image {
                        //border: 1px solid red;
                        @include flexBar($position: relative, $align: center, $justify: center, $gap: 0%);
                        @include size(50px, 50px);
                        border-radius: 100%;
                        z-index: 2;
                        overflow: hidden;

                        @include phoneMini {
                            height: 55%;
                        }

                        .img {
                            position: relative;
                            object-fit: cover;
                            @include size(100%, 100%);
                            transition: transform 0.5s ease
                            //border: 1px solid green;
                        }            
                    }

                    .text {
                        //border: 1px solid red;
                        @include flexBar($position: relative, $align: flex-start, $justify: center, $gap: 1%, $flex_d: column);

                        .text1 {
                            @include text-layout($size: 14px, $color: $text-color-2, $l_height: 20px);
                            font-family: "Poppins";
                            font-weight: 600;
                        }

                        .text2 {
                            @include text-layout($size: 13px, $color: $text-color-2, $l_height: 20px);
                            font-family: "Poppins";
                        }
                    }
                }


                span {
                    //border: 1px solid red;
                    @include flexBar($position: relative, $align: center, $justify: center, $gap: 0%);
                    @include size(80%, 15%);
                    @include text-layout($size: 12px, $l_height: 15px);
                    text-align: center;

                    @include phonePro {
                        line-height: 12px;
                        font-size: 10px;
                        //color:
                    }

                    @include phoneMini {
                        @include text-layout($size: 10px, $l_height: 10px);
                        top: 2%;
                        height: 20%;
                    }
                }
    
                // &:hover {
                //     //transform: scale(1.05);
                //     box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.14), 0px 3px 3px rgba(0, 0, 0, 0.12), 0px 1px 8px rgba(0, 0, 0, 0.2);
                // }
            }
        }
    }
}

// %topProductLayout {

.modalState {
    pointer-events: none;
    filter: opacity($modal-opacity);
    //border: 2px solid $primary-color;
}


.others {
    //border: 2px solid red;
}